html {
    box-sizing: border-box;
    /* Hack para que las cajas ocupan el espacio definido teniendo en cuenta los padding, margin, etc...*/
    font-size: 62.5%;
    /* Lo usamos para igualar 1rem a 10px*/
}

body {
    background-color: beige;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section {
    display: flex;
}

table {
    padding: 2rem;
}

ul {
    padding: 2rem;
}

form {
    box-shadow: 9px 10px 24px -17px #f5d89f;
}

th {
    background-color: aquamarine;
}
